<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head(title='Friends')">
        <meta charset="UTF-8" />
        <title>Title</title>
    </head>
    <body>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div th:replace="fragments/layout :: nav"></div>
                </div>
            </div>
            <div class="row">
                <div th:replace="fragments/layout :: sidebar"></div>
                <div class="col-7 p-3">
                    <h2>Friends</h2>

                    <p th:if="${#lists.size(friends) == 0}">No friends yet, go make some!</p>

                    <table th:unless="${#lists.size(friends) == 0}" class="table table-striped mt-4">
                        <tr th:each="friend : ${friends}">
                            <td><span th:text="${friend.name}"></span></td>
                            <td><a th:href="'/' + ${friend.url}" th:text="${'@' + friend.url}"></a></td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>
    </body>
</html>

